# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [26]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy import stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [9]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [15]:
# Your code here:
print(salaries.shape)
salaries.head()

(33183, 8)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [23]:
salaries.dtypes

Name                  object
Job Titles            object
Department            object
Full or Part-Time     object
Salary or Hourly      object
Typical Hours        float64
Annual Salary        float64
Hourly Rate          float64
dtype: object

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [14]:
# Your code here:

salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [17]:
# Your code here:
salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [18]:
# Your code here:

salaries.groupby("Department")["Salary or Hourly"].value_counts()

Department             Salary or Hourly
ADMIN HEARNG           Salary                 39
ANIMAL CONTRL          Salary                 62
                       Hourly                 19
AVIATION               Hourly               1082
                       Salary                547
BOARD OF ELECTION      Salary                107
BOARD OF ETHICS        Salary                  8
BUDGET & MGMT          Salary                 44
                       Hourly                  2
BUILDINGS              Salary                269
BUSINESS AFFAIRS       Salary                164
                       Hourly                  7
CITY CLERK             Salary                 84
CITY COUNCIL           Salary                347
                       Hourly                 64
COMMUNITY DEVELOPMENT  Salary                203
                       Hourly                  4
COPA                   Salary                116
CULTURAL AFFAIRS       Salary                 58
                       Hourly                  7
DISABILITIES           Salary                 28
DoIT                   Salary                 99
FAMILY & SUPPORT       Salary                328
                       Hourly                287
FINANCE                Salary                516
                       Hourly                 44
FIRE                   Salary               4639
                       Hourly                  2
GENERAL SERVICES       Hourly                765
                       Salary                215
HEALTH                 Salary                485
                       Hourly                  3
HUMAN RELATIONS        Salary                 16
HUMAN RESOURCES        Salary                 75
                       Hourly                  4
INSPECTOR GEN          Salary                 87
LAW                    Salary                367
                       Hourly                 40
LICENSE APPL COMM      Salary                  1
MAYOR'S OFFICE         Salary                 77
                       Hourly                  8
OEMC                   Hourly               1273
                       Salary                829
POLICE                 Salary              13404
                       Hourly                 10
POLICE BOARD           Salary                  2
PROCUREMENT            Salary                 90
                       Hourly                  2
PUBLIC LIBRARY         Salary                716
                       Hourly                299
STREETS & SAN          Hourly               1862
                       Salary                336
TRANSPORTN             Hourly                725
                       Salary                415
TREASURER              Salary                 22
WATER MGMNT            Hourly               1513
                       Salary                366
Name: Salary or Hourly, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [32]:
# Your code here:
hour_rate = salaries["Hourly Rate"]
t, p = scipy.stats.ttest_1samp(hour_rate, 30, nan_policy="omit")
print(f"t: {t}\np: {p}")

t: 20.619805785494147
p: 4.323024048614701e-92

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [38]:
# Your code here:
police = salaries[salaries["Department"] == "POLICE"]["Annual Salary"]
t, p = scipy.stats.ttest_1samp(police, 86000, nan_policy="omit")
print(f"t: {t}\np: {p}\nThe p value is still lower than our alpha of 0.025")

t: 3.081997005712994
p: 0.00206034035510054
The p value is still lower than our alpha of 0.025

Using the `crosstab` function, find the department that has the most hourly workers.

In [49]:
# Your code here:
ct = pd.crosstab(salaries["Department"], 
                 salaries["Salary or Hourly"])[["Hourly"]]
ct[ct["Hourly"] == ct["Hourly"].max()]

Salary or Hourly  Hourly
Department
STREETS & SAN       1862

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [55]:
san = salaries[salaries["Department"] == "STREETS & SAN"]["Hourly Rate"]
san.mean()

33.72837808807734

In [56]:
# Your code here:
t, p = scipy.stats.ttest_1samp(san, 35, nan_policy="omit")
print(f"t: {t}\np: {p}\nThe t statistic is negative and the p value is much lower than our alpha of 0.025.")

t: -9.567447887848152
p: 3.337853056471074e-21
The t statistic is negative and the p value is much lower than our alpha of 0.025.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [11]:
# Your code here:

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [12]:
# Your code here:

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: