# Pandas Project - cleaning shark attacks csv

## Workflow determination
1. Determine steps to be taken
2. Set up csv in pandas and create copy to work with
3. Declare helper functions 
3. Gather information about shape and characteristics of dataframe
6. Check data types
4. Inspect data
9. Check null values
5. Change column names
8. Remove duplicates
10. Remove irrelevant columns
11. 

   * Convert dates
   * Correct data types

## Set up 


First we import the necessary libraries

In [111]:
import re

import numpy as np
import pandas as pd

from string import punctuation
from datetime import datetime

Now we declare helper functions

In [222]:
def clean_col_names(df):
    """Take a dataframe and return sanitized column names."""

    table = str.maketrans(dict.fromkeys(punctuation))
    return [c.lower()
            .strip()
            .translate(table)
            .replace(" ", "_") for c in df.columns]


def cols_missing_value(df):
    """Return fraction of column missing value."""
    
    return ((df.isna().sum())[df.isna().sum() > 0] / len(df)) * 100

def invalid_year(date):
    """Return NaT if not valid year."""
    
    # Doesn't work because of 20 non-cooperating rows
    if date == date:
        if date > datetime.strptime('2020', '%y'):
            return pd.NaT
    return date

def search_and_set(df, col, word, regex=False, lst=[]):
    """Search for term and set correspending rows to value."""
    
    # If lst is set, we use every term therein, otherwise just 
    # set word as first item
        
    if not lst:
        lst = [word]
        
    if regex:
        for item in lst:
            df.loc[df[col].str.contains(
                regex, case=False, na=False, regex=True), col] = word
    else:
        for item in lst:
            df.loc[df[col].str.contains(
                item, case=False, na=False), col] = word

Next we import the csv into pandas and inspect the head

In [113]:
df_original = pd.read_csv("attacks.csv", encoding="cp1252")
df = df_original.copy()
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

## Inspect

In [114]:
# rows and columns
df.shape

(25723, 24)

In [115]:
# Types of columns
df.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [116]:
# Random sample of data
df.sample(20)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
7678,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7479,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3540,1966.12.31,31-Dec-1966,1966.0,Unprovoked,AUSTRALIA,Tasmania,"Piccaninny Point, 10 miles from Bicheno",Fishing,Alf Bosworth,M,...,2.1 m [7'] shark,"J. Green, p.35; Sun (Sydney), 1/3/1967",1966.12.31-Bosworth.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1966.12.31,1966.12.31,2763.0,NaN,NaN
10838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5704,1890.05.14,14-May-1890,1890.0,Invalid,SOUTH AFRICA,Eastern Cape Province,Port Elizabeth,NaN,Joseph Lundy,M,...,Invalid,"M. Levine, GSAF",1890.05.14-Lundy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1890.05.14,1890.05.14,599.0,NaN,NaN
5902,1871.12.11.R,Reported 11-Dec-1871,1871.0,Invalid,AUSTRALIA,New South Wales,Hawkesbury River,NaN,male,M,...,Shark involvement prior to death unconfirmed,"Border Watch, 1/10/1872",1871.12.11.R-Remains.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1871.12.11.R,1871.12.11.R,401.0,NaN,NaN
18591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3221,1975.07.04,04-Jul-1975,1975.0,Unprovoked,USA,Florida,"Indiatlantic, Brevard County",Surfing,Robert Clark,M,...,NaN,"NY Times, 7/6/1975, p.5",1975.07.04-Clark.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.07.04,1975.07.04,3082.0,NaN,NaN
20087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7551,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
# Columns with NA values
cols_missing_value(df)

Case Number               66.170353
Date                      75.500525
Year                      75.508300
Type                      75.516075
Country                   75.694903
Area                      77.269370
Location                  77.599813
Activity                  77.615364
Name                      76.316915
Sex                       77.697003
Age                       86.506240
Injury                    75.609377
Fatal (Y/N)               77.595926
Time                      88.539439
Species                   86.533453
Investigator or Source    75.566614
pdf                       75.500525
href formula              75.504412
href                      75.500525
Case Number.1             75.500525
Case Number.2             75.500525
original order            75.473312
Unnamed: 22               99.996112
Unnamed: 23               99.992225
dtype: float64

### A few observations
   - column names contain punctuation, spaces and capitals
   - case number seems to be same as Date, and Year is a pary of previous two
   - many rows have no data at all
   - pdf is part of href formula, which in turn is equal to href
   - last 2 columns have no name and out of 25723 only 1 or 2 rows have a value
   - age and species values are mainly missing

## General cleanup

Now we know a little about our data set, we are going to start cleaning. First we tackle the big stuff.

In [118]:
# Clean up column names
df.columns = clean_col_names(df)
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_yn', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number1', 'case_number2', 'original_order', 'unnamed_22',
       'unnamed_23'],
      dtype='object')

In [119]:
# Remove duplicate rows
df.drop_duplicates(inplace=True)

In [120]:
cols_missing_value(df)

case_number                0.031686
date                       0.158428
year                       0.190114
type                       0.221800
country                    0.950570
area                       7.366920
location                   8.713561
activity                   8.776933
name                       3.485425
sex                        9.109632
age                       45.009506
injury                     0.602028
fatal_yn                   8.697719
time                      53.295311
species                   45.120406
investigator_or_source     0.427757
pdf                        0.158428
href_formula               0.174271
href                       0.158428
case_number1               0.158428
case_number2               0.158428
original_order             0.047529
unnamed_22                99.984157
unnamed_23                99.968314
dtype: float64

In [121]:
# We check the values for 'type'
df["type"].value_counts(dropna=False)

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
NaN               14
Questionable       2
Boatomg            1
Name: type, dtype: int64

In [122]:
# Change invalid and questionable to NaN
df["type"].replace(["Invalid", "Questionable"], np.nan, inplace=True)

# And merge boating
df["type"].replace(["Boat", "Boatomg"], "Boating", inplace=True)

df["type"].value_counts(dropna=False)

Unprovoked      4595
Provoked         574
NaN              563
Boating          341
Sea Disaster     239
Name: type, dtype: int64

In [123]:
# Change date to datetime column
df.date = pd.to_datetime(df["date"], errors="coerce")
df.head()

,case_number,date,year,type,country,area,location,activity,name,sex,...,species,investigator_or_source,pdf,href_formula,href,case_number1,case_number2,original_order,unnamed_22,unnamed_23
0,2018.06.25,2018-06-25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,2018-06-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,2018-06-09,2018.0,NaN,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,2018-06-08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,2018-06-04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [124]:
# Get rid of future dates. Doesn't work because of 20 columns
#df["date"] = df["date"].apply(invalid_year)

Since case_number is same as date, and original_order is a unique index, we will drop all 3 case_number columns. Also, the href_formula and pdf column are duplicate to href. Finally we remove the redundant unnamed columns

In [125]:
to_drop = ["case_number", "year", "pdf", 
           "href_formula", "case_number1", 
           "case_number2", "unnamed_22", "unnamed_23"]
df = df.drop(axis = 1, columns = to_drop)
df.head()

,date,type,country,area,location,activity,name,sex,age,injury,fatal_yn,time,species,investigator_or_source,href,original_order
0,2018-06-25,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018-06-18,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018-06-09,NaN,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,2018-06-08,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,2018-06-04,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0

In [126]:
# If original_order is unique then we can use it as an index

df["original_order"].value_counts(dropna=False)

NaN       3
569.0     2
799.0     1
351.0     1
5404.0    1
         ..
4424.0    1
4620.0    1
795.0     1
2836.0    1
6272.0    1
Name: original_order, Length: 6309, dtype: int64

In [127]:
df[df.original_order.isna()]

,date,type,country,area,location,activity,name,sex,age,injury,fatal_yn,time,species,investigator_or_source,href,original_order
6309,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
df["original_order"].dropna(inplace=True)
df["original_order"].value_counts(dropna=False)

569.0     2
4603.0    1
4899.0    1
810.0     1
796.0     1
         ..
3508.0    1
3256.0    1
3106.0    1
3080.0    1
6272.0    1
Name: original_order, Length: 6308, dtype: int64

In [129]:
# We change the column dtype to int
df["original_order"] = df["original_order"].astype(int)
df["original_order"]

0        6303.0
1        6302.0
2        6301.0
3        6300.0
4        6299.0
          ...
6307     6309.0
6308     6310.0
6309        NaN
8702        NaN
25722       NaN
Name: original_order, Length: 6312, dtype: float64

In [130]:
# There are 2 rows with number 569. The highest value is 6303, so we change one of the 2 to 6304.
df[(df["original_order"] == 569) & (df["type"] == "Unprovoked")] = 6304

In [131]:
# Now the original_order is unique, we can use it as an index
df.set_index("original_order", inplace=True)

In [132]:
# If there is no location we don't want to keep the row
cols_missing_value(df)

date                      13.529785
type                       8.919518
country                    0.950570
area                       7.366920
location                   8.713561
activity                   8.776933
name                       3.485425
sex                        9.109632
age                       44.993663
injury                     0.602028
fatal_yn                   8.697719
time                      53.279468
species                   45.104563
investigator_or_source     0.427757
href                       0.158428
dtype: float64

In [133]:
# There are still many rows with very little data. We will drop all that have less than 2 columns of data
df.dropna(thresh=2, inplace=True)
df.dropna(subset=["country"], inplace=True)

In [134]:
df.sample(30)

,date,type,country,area,location,activity,name,sex,age,injury,fatal_yn,time,species,investigator_or_source,href
original_order,,,,,,,,,,,,,,,
4045.0,1997-02-28 00:00:00,Unprovoked,AUSTRALIA,Queensland,"Carrara, Nerang River",Swimming,Joanna Salmon,F,21,Left leg biten,N,NaN,a small shark,"The Advertiser, 3/1/1997, p.12",http://sharkattackfile.net/spreadsheets/pdf_di...
1251.0,1930-01-16 00:00:00,Unprovoked,SOUTH AFRICA,Western Cape Province,"Melkbaai, False Bay",Swimming,Servy LeRoux,M,23,Torso & arm bitten,N,17h30,"White shark, 4.5 m [14'9""], identity confirmed...","A. LeRoux, M. Levine, GSAF; L. Green; G.Wilson",http://sharkattackfile.net/spreadsheets/pdf_di...
2634.0,1964-08-03 00:00:00,Unprovoked,JAPAN,Okayama Prefecture,Saidaiji,Swimming,Yoshio Ukita,M,12,"Leg bitten, surgically amputated",N,NaN,NaN,K. Nakaya,http://sharkattackfile.net/spreadsheets/pdf_di...
121.0,NaT,Unprovoked,KENYA,Mombasa,Kilindini,Diving,Conway Plough & Dr. Jonathan Higgs,M,NaN,Conway's leg was bitten Higgs injury was FATAL,N,NaN,NaN,A.J. Venter,http://sharkattackfile.net/spreadsheets/pdf_di...
5795.0,2014-08-28 00:00:00,Provoked,USA,Maryland,Assateague National Seashore,Fishing,Mathew Vickers,M,33,Lacerations to foot by hooked shark PROVOKED I...,N,NaN,NaN,"Delmarva Now, 8/29/2014",http://sharkattackfile.net/spreadsheets/pdf_di...
1707.0,1946-07-18 00:00:00,Unprovoked,IRAN,Khuzestan Province,"Dorquain, on the Karun River","Fishing, probably with a net","Khodadad, (male)",M,12,Radius & ulna bared,N,NaN,NaN,"A. Anderson, M.D. / Lt. Col. R.S. Hunt, Royal ...",http://sharkattackfile.net/spreadsheets/pdf_di...
4753.0,2005-09-07 00:00:00,Unprovoked,AUSTRALIA,New South Wales,"Park Beach, Coff's Harbour",Standing,Blake Garnett,M,15,Left foot & ankle lacerated,N,Dusk,NaN,"Sydney Morning Herald, 9/9/2005",http://sharkattackfile.net/spreadsheets/pdf_di...
6210.0,2017-09-02 00:00:00,Unprovoked,USA,Florida,"Marathon, Monroe County",Swimming,Ervin Maccarty,M,NaN,Lacerations to abdomen,N,NaN,Nurse shark,NewsFlare,http://sharkattackfile.net/spreadsheets/pdf_di...
1518.0,1939-11-11 00:00:00,Provoked,AUSTRALIA,New South Wales,Maroubra,NaN,boat,NaN,NaN,Boat bitten by gaffed shark PROVOKED INCIDENT,N,NaN,whaler shark,"G.P. Whitley, p.264",http://sharkattackfile.net/spreadsheets/pdf_di...
5862.0,2015-03-18 00:00:00,Unprovoked,USA,Hawaii,Hapuna Beach,Standing / Snorkeling,Ken Grasing,M,58,Lacerations to left forearm. Lacerations to le...,N,11h45,"Tiger shark, 8 to 12 feet","KMBC, 3/19/2015",http://sharkattackfile.net/spreadsheets/pdf_di...
1561.0,1941-07-01 00:00:00,Provoked,USA,Hawaii,"Nankuli, O'ahu",Fishing,Hisao Shimoto,M,NaN,Arm bitten while removing shark from fishing l...,N,NaN,100-lb shark,"G.H. Balazs & A.K.H. Kam; J. Borg, p.71; L. Ta...",http://sharkattackfile.net/spreadsheets/pdf_di...
2933.0,1971-01-02 00:00:00,Unprovoked,AUSTRALIA,Tasmania,NaN,Swimming,Ralph Painter,M,NaN,Torso lacerated,N,16h30,NaN,"C. Black, GSAF; H.D. Baldridge (1994) SAF Case...",http://sharkattackfile.net/spreadsheets/pdf_di...
1390.0,1935-03-30 00:00:00,Unprovoked,AUSTRALIA,Queensland,Barrier Reef off Mackay,Diving from dinghy for trochus shell,"Samuel, a Thursday islander",M,NaN,Buttocks injured by fin or a bump,N,Afternoon,NaN,"G.P. Whitley citing the Sydney Morning Herald,...",http://sharkattackfile.net/spreadsheets/pdf_di...
3003.0,1973-08-16 00:00:00,Unprovoked,USA,Virginia,False Cape,Crabbing (spearing crabs),Chris DeFord,M,17,Elbow bitten,N,NaN,1.5 m to 1.8 m [5' to 6'] blacktip shark,"A. MacCormick, p.11, cites New Orleans Times-P...",http://sharkattackfile.net/spreadsheets/pdf_di...
286.0,1852-08-07 00:00:00,Unprovoked,TONGA,Tongatapu,NaN,Fell overboard,Charles Weymouth,M,NaN,FATAL,Y,NaN,NaN,"Courier, 1/3/1853",http://sharkattackfile.net/spreadsheets/pdf_di...
4657.0,2004-08-06 00:00:00,Unprovoked,USA,Florida,"Big Bayou, St. Petersburg, Pinellas County",Swimming,James Tiffee,M,47,"Back, buttocks, left hand & left side of face ...",N,20h30,1.2 m [4'] shark,"T. Jerome, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
1070.0,1922-01-15 00:00:00,Unprovoked,AUSTRALIA,Queensland,"Ross River, Townsville",Swimming,Robert Milroy,M,54,FATAL,Y,17h30,NaN,V.M. Coppleson.Q5. (1933); V.M. Coppleson (195...,http://sharkattackfile.net/spreadsheets/pdf_di...
2342.0,1960-09-24 00:00:00,Provoked,USA,South Carolina,"Atlantic Beach, Horry County",Fishing inside net,Theldon Gore,M,NaN,"Multiple superficial lacerations of leg, arm &...",N,NaN,"2.4 m [8'], 600-lb shark","News (Lancaster, SC), 10/3/1960; H.D. Baldridg...",http://sharkattackfile.net/spreadsheets/pdf_di...
5306.0,2010-08-14 00:00:00,Boating,USA,California,"Pigeon Point, San Mateo County",Kayak Fishing,Adam Coca,M,45,"No injury, kayak bitten",N,NaN,White shark,"Mercury News, 8/15/2010",http://sharkattackfile.net/spreadsheets/pdf_di...
1734.0,1947-10-10 00:00:00,Unprovoked,BRAZIL,Pernambuco,Piedade,Swimming,Father Serafin de Oliveira,M,25,FATAL,Y,NaN,NaN,"JC Online, 6/25/2012",http://sharkattackfile.net/spreadsheets/pdf_di...
743.0,NaT,Provoked,USA,Connecticut,"Bridgeport, Fairfield County",,"skiff with Dr. William T. Healey, Dr. Henry Ca...",NaN,NaN,"No injury to occupants. They shot shark, then ...",N,NaN,NaN,"Times, 8/1/1900",http://sharkattackfile.net/spreadsheets/pdf_di...
2060.0,1956-08-01 00:00:00,Unprovoked,PAPUA NEW GUINEA,Central Province,Yule Island,Fishing,Tsira Native,M,NaN,"Leg severed, but survived",N,NaN,NaN,"V.M. Coppleson (1958), pp.49-51 & 264; A.M. Ra...",http://sharkattackfile.net/spreadsheets/pdf_di...
5600.0,2013-02-10 00:00:00,Unprovoked,USA,Florida,"""Stuart Rocks"", Martin County",Surfing,Cole Taschman,M,16,Lacerations to right hand,N,14h00,"Blacktip shark, 4' to 5'","Palm Beach Post, 2/12/2013",http://sharkattackfile.net/spreadsheets/pdf_di...
2378.0,1961-02-01 00:00:00,NaN,USA,California,"Topanga Canyon Beach, Santa Monica Bay",NaN,Steven Friedman,M,NaN,Considered a doubtful incident,NaN,NaN,Questionable incident,"R. Collier, G.. Helfman",http://sharkattackfile.net/spreadsheets/pdf_di...
203.0,1827-01-01 00:00:00,Unprovoked,EGYPT,NaN,Alexandria,NaN,Two men,M,NaN,Remains of the men were recovered from a +17-f...,Y,NaN,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
5593.0,2013-01-13 00:00:00,Unprovoked,NEW ZEALAND,Mercury Islands,Great Mercury Island,Spearfishing,Kim Bade,M,NaN,Minor cut on finger,N,NaN,"Bronze whaler shark, 3m","Bay of Plenty Times, 1/18/2013",http://sharkattackfile.net/spreadsheets/pdf_di...
3741.0,1992-02-19 00:00:00,Unprovoked,USA,Hawaii,"Leftovers, near Waimea Bay, O'ahu",Body boarding,Brian Adona,M,NaN,FATAL Disappeared. His board washed ashore nex...,Y,Late afternoon,Tiger shark?,"J. Borg, pp.80-81; L. Taylor (1993), pp.112-11...",http://sharkattackfile.net/spreadsheets/pdf_di...
2727.0,1966-06-02 00:00:00,Provoked,FRENCH POLYNESIA,Society Islands,Tahiti,Fishing,Faarei Tuhei,M,NaN,Arm lacerated by netted shark PROVOKED INCIDENT,N,Afternoon,NaN,"H.D. Baldridge (1994), SAF Case #1434",http://sharkattackfile.net/spreadsheets/pdf_di...
4389.0,2001-08-26 00:00:00,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Boogie Boarding,Ben Gibbs,M,18,Thigh & foot bitten,N,16h00,NaN,"Miami Herald, 8/26/2001; S. Mussenden, Orlando...",http://sharkattackfile.net/spreadsheets/pdf_di...
726.0,1899-06-02 00:00:00,NaN,NEW ZEALAND,North Island,East Cape,Attempting to land a boat from the Hinemoa,N. Buchanan,M,NaN,FATAL,NaN,NaN,Shark involvement not confirmed,"Brisbane Courier, 6/7/1899",http://sharkattackfile.net/spreadsheets/pdf_di...

In [135]:
df.activity.value_counts()

Surfing                                                                          970
Swimming                                                                         862
Fishing                                                                          431
Spearfishing                                                                     332
Bathing                                                                          160
                                                                                ...
Netting pilchards                                                                  1
Treading water while alongside capsized yacht                                      1
Tech diving                                                                        1
Attempting to net shark in shark channel                                           1
Canoe capsized with 10 occupants, 8 survived,  Hamilton swam off to seek help      1
Name: activity, Length: 1513, dtype: int64

In [147]:
# Search and equalize common values in activity column

activities = ["diving", , "bathing", "paddling", "rowing",  
              "sailing", "snorkeling"]
for item in activities:
    search_and_set(df, "activity", item)

In [149]:
# Let's check what values we have in this column
df.activity.unique()

array(['paddling', 'Standing', 'surfing', 'diving', 'swimming', 'fishing',
       'Walking', 'Feeding sharks', 'Boogie boarding', 'Paddle-skiing',
       'Body boarding', 'Stand-Up Paddleboarding', 'Wading',
       'Cleaning fish', 'snorkeling', nan, '2 boats capsized', 'bathing',
       'kayaking', 'canoeing', 'SUP', 'Skimboarding', 'Touching a shark',
       'Attempting to lasso a shark', 'Photo shoot', 'Paddle boarding',
       'Kakaying', 'Washing hands', 'Grabbing shark for a selfie',
       'Tagging sharks', 'Surf skiing ', 'Floating', 'Surfng',
       'SUP Foil boarding', 'Lobstering', 'Floating in tube',
       'Teasing a shark', 'Surf-skiing', 'Feeding stingrays?',
       'Sea disaster', 'Photographing fish', 'Treading water',
       'Body boarding ', 'Playing in the water', 'Body Boarding',
       'Playing', 'Attempting to rescue a shark',
       'Photographing the shark', 'Hand feeding sharks',
       'Sitting in the water', 'rowing', 'Filming',
       'Standing in inner tube', 'Feeding fish',
       'Playing with an air mattress', 'Kite boarding', 'Petting a shark',
       'Kneeling in the water', 'Fell into the water', 'Shark watching',
       'sailing', 'Filming a documentary', 'Kiteboarding',
       'Casting a net', 'Wrangling a shark',
       'Attempting to free the shark', 'Walking in surf',
       'Boogie Boarding', 'Playing in the surf',
       'Dragging stranded shark into deeper water', 'Bodyboarding',
       'Attempting to rescue an injured & beached shark',
       'Attempting to Kite surf from Egypt to Saudi Arabia',
       'Jumping in the waves', 'Standing, collecting sea stars',
       'Floating ', 'Jet skiing', 'Standing or boogie boardin',
       'Kite Boarding', 'Washing sand off a speared fish',
       'Standing, holding shark pup', 'Wakeboarding',
       'Attempting to fix motor', 'Rescuing', 'Measuring sharks',
       'Paddle-boarding', 'Washing his feet', 'Crawling', 'Air Disaster',
       'Crabbing', 'Yacht race', 'Sinking of the cargo ship Mark Jason',
       'Sea Disaster',
       "Accidentally stood on hooked shark's tail before attempting to gut it ",
       'Attempting to chase shark out to sea',
       'Removing fish from a trap',
       'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ',
       'Wading?', 'Jumping',
       'Floating near boat & observing bioluminesce',
       'Jumped into the water', 'Murder', 'Removing hook from shark',
       'Reviving a sedated shark', 'Shark tagging',
       'Playing on a sandbar', 'Shrimping', 'Playing soccer in the water',
       'Lifesaving drill', 'Touching sharks', 'Removing shark from net',
       'Boogie boarding, kicked at object in the water',
       'Holding onto an inflatable boat', "Crouching in 2' of water",
       'Swept out to sea by the tsunami, she clung  to a log for 24 hours',
       'Scurfing (surfboard being  towed behind a boat)',
       'Chumming for white sharks', 'Surf skiing',
       'Air disaster. Flash Airlines Boeing 737 crashed into the Red Sea',
       'Sitting on surfboard', 'Wading to shore from his boat',
       'Standing, stepped on shark',
       'Walking, carrying surfboard & stepped on shark',
       'Killing  sharks', 'Petting captive sharks', 'Unknown',
       'Wading, when he stepped on the shark',
       'Attempting to retreive a dinghy', 'Floating on a raft',
       'Playing in the surf with his 2 dogs', 'Collecting beche-de-mer',
       'Body-boarding', 'Kite-Boarding', 'Walking in shallows',
       'Fell off banana boat', 'Floating face-down in knee-deep water',
       'Hiking on the beach', 'Standing alongside surfboard', 'Batin',
       'Attempting to catch a crocodile',
       "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board",
       'Shipwrecked', 'Fell onto dead shark', 'Conducting research',
       'Attempting to illegally enter the USA',
       'Air Disaster - Piper aircraft crashed into the sea, killing all on board',
       'Boogie boarding / wading', 'Feeding prawns to captive sharks',
       'Canoe with 3 men onboard sank', 'Wading with surfboard',
       "Lying prone in 2' of water", 'Wading in school of baitfish',
       'Adrift in a life jacket', 'Splashing / wading',
       "Scientific research (Dr. Sonny Gruber's student)", 'Cruising',
       'Paddle Skiing', 'Inflatable boat', 'Splashing',
       'Moving a shark in a net ', 'Towing rubber dinghy',
       'Floating on raft', 'Watching seals',
       'Attempting to attract dolphins',
       'Dived naked into the water on a bet',
       'Boeing 757 enroute from Porta Plata plunged into the sea',
       'Chumming for sharks', 'Fell off aircraft carrier',
       'Playing / standing', 'On a float', '"Riding waves on a board"',
       'Jumped off surfboard & landed on the shark', 'Playing / jumping',
       'Sleeping in anchored boat', 'Murder victim',
       'Commercial diver (submerged or treading water)',
       'Adrift on refugee raft', 'Jumped off rocks into white water',
       'Removing shark from tank in nightclub ',
       'Playing volleyball with friends', 'Stamding',
       'Watching the shark feeding on a dead pinniped',
       'Riding floatation device', 'Floating on his back', '   ',
       'Standing in waist-deep water, helping his father tend a gill net containing dead fish',
       'Lying on surfboard', 'Fisherman',
       'Preparing to fish for jack-mackerel',
       'Finning the shark that bit him', 'Resting on surfboard',
       'Wading, knocked down & swept away by large waves',
       'Observing a shark feeding on a carcass of a humpback whale',
       "Filming 5' blue shark", 'Playing ',
       "Fell off surfboard 20' from shore",
       'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy',
       'The MV Dona Marilyn sank in Typhoon Unsang with the loss of 389 lives',
       'Sittting in water with his child', 'pêcheur de bichiques',
       "Onboard 21' powerboat that capsized in rough seas", 'Standing ',
       'Lying atop surfboard', "Attempting to lasso shark's tail",
       'Returning to shore, collided with shark',
       'Ferry boat Dona Paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker ',
       'Vessel caught fire & capsized, survivors in the water',
       'Dropping anchor',
       'The inter-island ferry Vula sank in heavy weather',
       'Jumped into the water from a cliff', 'Boat',
       'Adrift after ditching plane in the sea', 'NSB Meshing',
       'Racing ski', 'Playing in knee-deep water',
       'Investigating shark sighting', 'Boat capsized?',
       'Sea disaster, foundering of the cargo vessle M/V Dorolonda',
       'Towing her sister on plastic ski board', 'Steinhart Aquarium',
       'Ferry boat sank',
       '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
       'Floating on air mattress', 'Water-skiing', 'Paddleskiing',
       'Ran into the water', 'In waist-deep water', 'Paddle Boarding',
       'Sailboarding, fell into water 100 yards outside the breakwater',
       'Inspecting teeth of supposedly dead (hooked & shot) shark',
       "16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore",
       'Catching sardines', 'Foundering of the Israeli freighter Mezada',
       'Standing / Wading', 'Exercising his dog in the shallows',
       'Resting on body board', 'Sinking of the ferryboat Don Juan',
       'Sinking of the ferryboat Bongbong 1', 'Gaffing netted shark',
       'Murdered by Thai pirates',
       'Floating with life preserver after his boat foundered',
       'Floating on inner tube raft',
       "Explosion destroyed 28' boat, survivors in the water ",
       'Floating on an inflatable raft', 'Collecting fish from net',
       'Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
       "Pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board",
       'Thrashing the water / imitating the shark victim from "Jaws"',
       'Shipwreck',
       '3,909-ton Panamanian freighter Chieh Lee sank in a typhoon',
       "Sitting in bow of her father's 5 m boat",
       'Attempting to drive shark away from the beach',
       'Filming & feeding captive sharks',
       'Floating on a small orange raft ', 'Floating in inner tube',
       'Attempting to drag hooked shark ashore by its tail',
       'Ferry capsized',
       'Adrift after the sinking of the motor yacht Princess Dianne',
       'Sitting', 'Crabbing (spearing crabs)', 'Sitting in shallows',
       'Wreck of the 1689-ton Portuguese  coaster Angoche',
       'Motor launch Baby Princesa capsized with 22 people on board',
       'Air disaster', 'Attempted to return injured shark to the sea',
       'Washing cooking pans', 'Washing clothes on stairs',
       'Netting pilchards', 'Sight-seeing', 'Feeding mullet to sharks',
       'Wreck of the Storm King', 'Sinking of the ferryboat Dumaguete ',
       'Playing with a frisbee in the shallows', 'Leaving the water',
       'Clamming', 'Schooner sank during a storm',
       'Wading & pushing dinghy toward  the shallows',
       'Picking up shark by the tail',
       'Sinking of the M/V Mindoro during a typhoon',
       'Standing on sandbar', "Boat capsized between O'ahu & Molokai",
       'Pulling shark from the water',
       'Photographing sharks underwater using Scuba',
       'Beach seine netting', 'Feeding a shark',
       'Vehicle plunged over cliff into the water', 'Hunting crayfish ',
       'Netting sharks', 'Attacked shark with fists', 'Killing a shark',
       'Sinking of the dredge World Atlas',
       'The passenger ship Pioneer Cebu  capsized & sank in Typhoon Irma',
       'Overturned skiff', 'Helping men land a shark',
       'wreck of the State Oil Company ship Permina',
       'Colombian  (Avianca) DC-4 airliner plunged into the sea 5 minutes after takeoff',
       'Hauling dead shark aboard, when another shark leapt out of the water & bit him',
       'Argentine Air Force C-54', 'Spearing fish',
       'Arsinoe, a French tanker', 'Attempting to anesthetize shark',
       'Walking on reef', 'Aircraft exploded',
       'Motor boat Rebel Belle lost', 'Dangling feet in the water',
       'Collecting marine specimens', 'Standing in waist-deep water',
       'Bather', 'Filming underwater, carrying powerhead',
       'Boat Miss Becky  sank 12 miles from shore',
       'Floating on his back in an inner tube',
       'Searching for remains of  Dr. Marais',
       'Yacht Gooney Bird foundered, 4 survivors on raft',
       'Conducting a promotional film project for the Gemini space program (a practice astronaut recovery)',
       'Attempting to swim across the Atlantic Ocean',
       'Canoe capsized with 10 occupants, 8 survived,  Hamilton swam off to seek help',
       'Lying in 2 feet of water', 'Sitting on gunwale of boat',
       'Greek steamship Lakonia caught fire, 98 of her 646 passengers, and 30 of her crew of 376 perished',
       'Helping friend land hooked shark', 'Splashing in surf',
       'Treading water while alongside capsized yacht',
       'Catching sharks under government contract',
       'Testing anti-shark cage',
       'Seining for bait, standing in chest-deep water',
       'Boat, with 42 passengers onboard, capsized in rough seas',
       'Washed into sea while picking opihi',
       'The 500-ton coastal trader Polurrian foundered ',
       'S.S. Marine Sulphur Queen, laden with molten sulphur was bound from Beaumont, Texas for Norfolk, VA, when she disappeared with 39 on board',
       'Abandoning burning ship Captain George in raging seas',
       'Adrift after wave swamped engine',
       'When  a deckhand  jumped overboard, McIver dived after him with a rescue line.',
       'Finning the shark', 'Playing in surf with his child  (9)',
       'Dived from inner-tube',
       'U.S. Airforce crewman reported missing after bailing out of jet',
       'On a "shark hunt"', 'Rolled off raft', 'Escaping from Alacatraz',
       'Washing', '25-foot cabin cruiser Happy Jack sank in heavy seas',
       'Splashing ', 'Gathering shells',
       'Survived US Naval aircraft crash, climbing onboard rescue vessel when he fell back into sea ',
       'Attaching a line at sea', 'Collecting dynamited fish',
       'Walking in chest-deep water',
       'Checking fish traps, fell into the water',
       'Cargo ship Dara sank after collision with another ship during a severe storm',
       'Floating on back', 'Cleaning a tank', 'Collecting crayfish',
       'Collecting aquarium specimens', 'Pacific Seafarer of US Navy',
       'Ocean racing', 'Light aircraft ditched at sea',
       'Fell overboard, prop slashed arm', 'Hand lining for shad',
       'Ejected from F3H-2 aircraft ', 'Collecting shells',
       'Cargo ship El Gamil entroute Suez to Yemen (Aden) when her cargo shifted and she sank. 19 Egyption sailors jumped into the water and swam for several hours before being bitten by sharks',
       'R5D aircraft went down with 29 on board',
       'Air disaster: crash of Air France Super Constellation ',
       'Aircraft crashed into sea', 'Standing in knee-deep water',
       'boat with 46 people on board capsized',
       'Holding shark on leader & dangling it above the water',
       'Helping angler land a shark', 'Pulling raft out to ride to shore',
       'Testing classified underwater electronic gear for Raytheon Corporation, vessel torn apart by explosion',
       'Speared a grouper, saw shark but it came for him instead of the fish so he fired spear into shark’s mouth. Then shark took grouper but unable to swallow because of the spear in its mouth.',
       'S2F-1 airplane crashed immediately after carrier take-off',
       'Setting crayfish pots', 'Standing, watching seine netters',
       'Collecting ornamental fish',
       'Dived from dinghy to retrieve oar in heavy seas',
       'ship M.V. Rizal sank during typhoon',
       '17 Maldivians adrift in open boat for 31 days',
       'Standing in chest-deep water',
       'Trailing the field in a surf race',
       'National Airlines DC7B enroute from Miami to Los Angeles with 42 or 46 people on board went down in heavy fog',
       'Dived overboard to retrieve dinghy',
       "Adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore",
       'Gigging for flounder', 'Pulling hooked salmon to boat',
       'On inflatable raft',
       'The 240-ton motor vessel Pilar II with 100 people on board capsized in high winds & rough seas',
       'Pulling anchor', 'Dragging stranded shark ashore',
       'Columbian petrol barge Rio Atrato burned and sank',
       'Jumped overboard to rescue a man', 'Lifeboat capsized',
       'On boat, preparing to dive',
       'Fell into water while attempting to boat a swordfish',
       'Working prawn net', 'Washed overboard into school of fish',
       'In deep water about 100 yards from his ship',
       'Dragging banana seeds through the shallows',
       'Cleaning hull of ship ', 'Slapped shark on tail as it swam by',
       '"Climbing up to ship after repairing the stern in water"',
       'Boat stopped to repair electric pump',
       'U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.',
       'Placed hand in disemboweled shark’s jaws',
       'Air/Sea Disaster Pan-American Airlines Stratocruiser with 44 people onboard crashed into the sea',
       'Attempting to net shark in shark channel',
       'M.V. Tropical sank. Sole survivor rode oil drums for 8 days without food or water.',
       '3 men & 2 boys picked up wearing life jackets and with inner tube',
       'Dynamiting fish', 'Attempting to kill a shark with explosives',
       'Air/Sea Disaster', 'Boating',
       'Attempting to set underwater endurance record',
       'Removing shark from net ',
       '"Flying Tiger" transport plane went down with 5 men onboard',
       'Hunting turtle',
       "Competing in U/W endurance record, standing beside drum in 10' of water",
       'Hunting lobsters in 2.4 m of water',
       'Crossing the bay at the ford',
       'American freighter Mormackite, bound from Buenos Aires for Baltimore, capsized & sank in heavy seas',
       'Grabbed shark & threw it on deck', 'Crouching in the water',
       'Aircaft exploded',
       'Royal Hawaiian skymaster DC-6B aircraft went down with  58 passenger & crew',
       'Accidentally dragged overboard from the sampan Holokahana into school of yellowfin tuna',
       'Retrieving bait box that had fallen overboard',
       'Landing hooked shark in boat', "Adrift on a 4'  raft for 32 days",
       'Went over side of boat at trochus ground',
       'Bitten while cutting shark from net', 'Lying prone on surfboard',
       'Boat exploded', 'Went to aid of child being menaced by the shark',
       'Shipwrecked; adrift on raft for 2 days & 2 nights',
       'cargo ship Southern Isle sank at 04h00',
       'Body found on deserted luxury yacht, 38’ Christine',
       'Fell overboard', 'Fell off surf ski',
       'Swept off deck of S.S.Frontenac enroute from West Indies to US',
       'Survived crash of two-engine  C-46 transport plane carrying 62 migrant workers from Puerto Rico to USA ',
       'Suicide', 'Sitting on side of dinghy mending a net',
       'Defecating in water beneath the docks', 'Bending over',
       "Lying on the bottom of a 16' dinghy", 'No details',
       'Examining netted shark, that had been shot',
       'Lifesaving exhibition', 'Treading water, waiting for a wave',
       '2 messboys (Jeppsen) & Tony Latona (13) were playing on the afterdeck of the Danish ship Grete Maersk. Jeppsen fell overboard, Latona threw a lifebelt then jumped in to help him. Ship didn’t notice they were missing',
       'Air/Sea Disaster involving C-54 Air Force Transport No. 2686 with 37 on board',
       'Leicester abandoned in a hurricane', 'Spearing a shark',
       'Bringing hooked, harpooned shark onboard boat',
       'C47 aircraft carrying 5,000 lbs of ice ditched in the sea',
       'Underwater photography', 'Jumped overboard ',
       'Moving shark from tuna vessel when boat rolled, placing both man & shark in chest-deep water',
       'Attempting to ride a shark', 'Jumping in swells',
       'Bitten after dhow shipwrecked',
       'American cruiser Indianapolis torpedoed & sunk by the Japanese submarine I-58',
       '90 European civilians, many women & children, were placed on the deck of a Japanese submarine that submerged when it was well offshore',
       'Playing on rock, slipped & fell into the water',
       'USS Gambier Bay CVE-73  shelled & sunk  at 09h57 on 10/24/1944, by Japanes fleet enroute to attack the Allied landing force at Leyte.',
       'USS Hoel DD 533 sunk on 10/24/1944 in the Battle off Samar. 2 crewmen were swimmng alongside a floater net &',
       'Parachuted into Pacific', 'Fell overboard from US Navy PC boat',
       'Washed overboard by swell', 'Adrift on raft',
       'B-24 aircraft crashed  into the sea',
       'Fell overboard from USS Ward',
       'The Cuban freighter Libertad was torpedoed and sunk by the German submarine U-129',
       'The 6711-ton American freighter & troop transport Cape San Juan was torpedoed by the Japanese submarine I-21',
       'Dived overboard to check propeller of US Navy motor torpedo boat',
       'Treading water after survivng crash of the US Navy airship K-74 that was hit by the German submarine U-134',
       'B-24 crashed during a search mission. Survivors in raft for 47 days ',
       'S2N Navy scout plane went down, E.H. Almond & Lieut A.G. Reading in water',
       'Hospital Ship Centaur torpedoed & sunk by the Japanese submarine I-177',

In [254]:
# Create a dict to store multiple search terms for one item
mult_term = {}

# Now to use regex and combine more difficult terms
regex_dict = {"shipwreck": ["wreck", "sea disaster", "battle", 
                            "sunk", "sank", "capsiz", "swamped",
                            "burning", "Fell", "adrift", "washed"],
              "beach activity": ["standing", "wading", "walking", 
                                 "gathering", "lying", "splash", "playing",
                                 "wading", "inflat"],
              "shark handling": ["shark"],
              "surfing": ["surfboard", "surfing", "kite"],
              "aircrash": ["airc", "air disaster", "air/sea disaster", 
                           "airlin", "air.*force", "plane"], 
              "canoeing": [r"surf.*skiing", "canoe", "kayak"],
              "fishing": [r"fish\W", "hunting", "spear"],
              "washing": ["wash[^e]"],
              "swimming": ["swimming", "treading", "dived", "swim\W"]}

pattern = r"wreck"
df.loc[df["activity"].str.contains(pattern, case=False, na=False, regex=True)].activity
# activities, mult_term, regex_dict

original_order
4314.0                                          Shipwrecked
3285.0    16' catamaran capsized previous night, occupan...
3134.0                                            Shipwreck
2935.0    Wreck of the 1689-ton Portuguese  coaster Angoche
2926.0                                            Shipwreck
2851.0                              Wreck of the Storm King
2724.0                                            Shipwreck
2715.0          wreck of the State Oil Company ship Permina
1873.0    Shipwrecked; adrift on raft for 2 days & 2 nights
1689.0                        Bitten after dhow shipwrecked
1436.0                                    Wreck of a sampam
1241.0          Sea Disaster, wreck of the  SS Norwich City
1025.0    Steamer Una wrecked with 75 laborers onboard. ...
1020.0                            Wreck of the tug Magellan
972.0     Copra vessel with 19 on board was wrecked in a...
906.0                         Shipwrecked pearling schooner
883.0     1446-ton Norwegian barque Errol, bound from Pe...
879.0         Wreck of the 1308-ton Norwegian ship Auckland
692.0               Wreck of the steamship Sultan of Bombay
673.0                                             Shipwreck
665.0            Sea Disaster : Wreck of the Carrie E. Long
638.0                                      A barque wrecked
564.0               Sea disaster, wreck of the Alfred Watts
547.0                   Sea disaster : Wreck of the Taiaroa
536.0                        Wreck of the schooner Pohoiki
535.0                        Wreck of the schooner Pohoiki
534.0                        Wreck of the schooner Pohoiki
507.0                          Clinging to shipwrecked junk
456.0     Wreck of the Union Steamship Company 982-ton i...
404.0                       Wreck of the 150-ton brig Maria
365.0                                Wreck of the Aphrodite
282.0                     Wreck of the steamship Birkenhead
260.0                                Wreck of the Sovereign
259.0                                    Wreck of the Tweed
255.0                               Wreck of the USS Somers
208.0                          Wreck of the schooner Driver
124.0                             Shipwrecked Persian Fleet
123.0                                             Shipwreck
Name: activity, dtype: object